<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/javascripts/jquery-3.5.1.js" defer></script>
    <script src="/javascripts/main.js" defer></script>
    <title>RichStore</title>
</head>
<body>
   
   <div class="background"> </div>
   <div class="backdrop"></div>
    <header class="main-header">
      <div class="main-logo">
       <a  href="/"> <img src="/images/WhatsApp Image 2020-07-27 at 16.41.36.jpeg" > </a>
      </div>

        <nav class="main-nav">
            <input class="searchinput" type="text" placeholder="Search for your favourite product ">
            <a class="search"> Search</a>
           
             <a href="#">        Account </a>
             <!-- <a href="/login">  LogIn  </a>
         -->
        </nav>
    </header>
    <section>
    <div class="cars"></div>

    </section>



   <footer> Copy right</footer> 
</body>
</html>